.don{
  background-color: #D54444;
}
.kk{
  background-color: #D54444;
}
#tindog{
  font-family: 'Ubuntu Condensed', sans-serif;

}
#headn{
font-family: 'Montserrat', sans-serif;

padding-left:70px
size:3rem;
line-height: 1.5;
}
.phone{
  padding-left:50px;
}
.row{
  padding-top:50px;
}
.coainer-fluid{
  padding:3% 15%;

}
